
Skip to content
Pull requests
Issues
Codespaces
Marketplace
Explore
@M7moud-Hassan
M7moud-Hassan /
final-project-api
Public

Cannot fork because you own this repository and are not a member of any organizations.

Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

final-project-api/.gitignore
@M7moud-Hassan
M7moud-Hassan merge
Latest commit 90c2106 Mar 18, 2023
History
1 contributor
68 lines (53 sloc) 560 Bytes
# Default ignored files
/.idea/
/venv/
/media/
/api\media/
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng

# Tagged Image File Format
*.tiff
*.tif

# Scalable Vector Graphics
*.svg
*.svgz

# Portable Document Format
*.pdf

# X BitMap
*.xbm

# BMP
*.bmp
*.dib

# ICO
*.ico

# 3D Images
*.3dm
*.max
Footer
© 2023 GitHub, Inc.
Footer navigation

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

final-project-api/.gitignore at main · M7moud-Hassan/final-project-api
